body {
    background-color: rgb(32, 31, 31);
    background-image: url("spidey\ background.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
}

h1, p {
    width: 50%;
    color: white;
    margin: 0 auto;
    padding: 10px;
    border: 1px solid red;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: black;
    overflow: hidden;
}

.video {
    width: 800px;
    height: 600px;
    color: white;
    background-color: black;
    border: 5px solid blue;
    margin: 0 auto;
    padding: 10px;
    text-align:center;
    border-radius: 20px;
}