body {
    background-color: rgb(32, 31, 31);
}

h1, p {
    color: white;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.box {
    width: 200px;
    height: 150px;
    background-color: white;
    border: 1px solid white;
    margin: 20px;
    padding: 10px;
}